@import '../../common_constants/styles/colors.scss';

.footer {
  background-color: $light_primary;
  padding-top: 80px;
  padding-bottom: 20px;
  color: $black;
  z-index: 1002;

  .footer__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .footer__section {
    flex: 1;
    margin-right: 30px;
  }

  .footer__copyright {
    text-align: center;
    margin-top: 20px;
  }
}
