@import '../../common_constants/styles/colors.scss';

.error404 {
  margin-top: 260px;
  margin-bottom: 260px;
  display: flex; /* Застосовуємо flex layout */
  flex-direction: column; /* Розміщуємо елементи вертикально */
  align-items: center; /* Вирівнюємо елементи по центру по горизонталі */

  &-text {
    padding-top: 15px;
    font-size: 24px;

    line-height: 30px;
    // letter-spacing: 0.10000000149011612px;
  }
}
