.order-admin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 60px;

  .order-list-item {
    .order-info-card {
      min-width: 350px;
    }
    .order-info {
      display: flex;
      flex-wrap: wrap;

      &-row {
        width: 50%;
        display: flex;
        justify-content: flex-start;
      }

      &-label {
        padding-right: 6px;
        font-weight: bold;
      }
    }
  }

  .product-image {
    width: 90px;
    height: 90px;
    margin-right: 10px;
  }
}
