.card-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 60px;

  .product-main-image {
    height: 430px;
    width: 430px;
  }

  .product-second-image {
    height: 130px;
    width: 130px;
  }

  .product-group-second-image {
    display: flex;
    flex-direction: column;
  }

  .product-second-image {
    margin-bottom: 10px; /* добавляем отступ между изображениями */
  }

  .btn-no-border {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
  }
}
