@import '../../common_constants/styles/colors.scss';

.auth-modal {
  .input-group input {
    width: 100%;
    height: 42px;
    padding: 0 15px;
    box-sizing: border-box;
    border: 2px solid $medium_gray;
    border-radius: 5px;
    font-size: 14px;
    background-color: transparent;
  }

  .input-group input::placeholder {
    color: $dark_gray;
  }

  .input-group input:focus {
    outline: none;
  }

  .save-group {
    display: flex;
    align-items: center;
  }

  .signup-group {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-signup {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  .text-green {
    color: $primary;
  }

  button,
  #myCheckbox {
    cursor: pointer;
  }
}
