@import '../../common_constants/styles/colors.scss';

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);

  &.centerPosition .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 50px;
    border: 1px solid #888;
    width: 80%;
    width: 450px;
    height: 732px;
    top: 80px;
    left: 495px;
    gap: 0px;
    opacity: 0px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
  }

  &.leftPosition .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;

    width: 30%;
    height: 100%;
    left: 0;
    top: 0;

    position: absolute;
    width: 384px;
  }

  &.rightPosition .modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;

    width: 30%;
    height: 100%;
    right: 0;
    top: 0;

    position: absolute;
    width: 384px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}
