.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Забезпечити мінімальну висоту на весь екран */

  .App-side-menu-and-content {
    display: flex;
    flex: 1; /* Розтягнути на весь доступний простір */
  }

  .App-menu-main-and-content {
    flex: 1; /* Розтягнути на всю доступну ширину */
    // display: flex;
    // flex-direction: column;
    // justify-content: center; /* Центрувати вміст по горизонталі */
    // align-items: center; /* Центрувати вміст по вертикалі */
    padding: 0; /* Додати відступи з обох сторін контейнера */
  }

  .App-footer {
    margin-top: auto; /* Розмістити підвал внизу сторінки */
  }
}
