.product {
  width: 250px;
  height: 420px;
  border: 2px solid #f8f8f8;
  padding: 10px;
  background-color: transparent;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;

  &-main-image {
    height: 220px;
    width: 220px;
    object-fit: cover;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    margin-bottom: 10px;
  }

  &-like-icon {
    height: 20px;
    width: 20px;
  }
}
