@import '../../common_constants/styles/colors.scss';

.primary-main-btn {
  width: 100%;
  height: 42px;
  background: $gradient_main;
  cursor: pointer;
  color: $white;
  border: none;

  transition: background-color 0.3s ease;

  width: Fixed (350px) px;
  height: Hug (44px) px;
  padding: 12px 16px 12px 16px;
  gap: 8px;
  opacity: 0px;
  -o-border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;

  &.orange {
    background: $orange;
  }

  &.red {
    background: $red;
  }

  &.blue {
    background: $blue;
  }

  &.light_primary {
    background: $light_primary;
  }

  &.primary50 {
    background: $primary50;
  }

  &.primary {
    background: $primary;
  }

  &.gradient_main {
    background: $gradient_main;
  }
}
