@import '../../common_constants/styles/colors.scss';

.typography-component {
  &.primary {
    color: $primary;
  }

  &.gray {
    color: $gray;
  }

  &.medium_gray {
    color: $medium_gray;
  }

  &.dark_gray {
    color: $dark_gray;
  }
}
