@import '../../common_constants/styles/colors.scss';

.typography-component {
  &.primary {
    color: $primary;
  }

  &.gray50 {
    color: $gray50;
  }

  &.gray30 {
    color: $gray30;
  }

  &.gray100 {
    color: $gray100;
  }

  &.gray {
    color: $gray;
  }

  &.medium_gray {
    color: $medium_gray;
  }

  &.dark_gray {
    color: $dark_gray;
  }

  &.orange {
    color: $orange;
  }

  &.red {
    color: $red;
  }
}
