.select-button {
  background-color: transparent; /* Приховати фон кнопки */
  border: none; /* Приховати границі кнопки */
  padding: 0; /* Відсутність внутрішнього відступу */
  cursor: pointer; /* Змінити курсор на вказівник при наведенні */
  outline: none; /* Приховати стандартний контур фокусу */
}
