@import '../../common_constants/styles/colors.scss';

.menu-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: relative;

  .group-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    height: 80px;
    border-bottom: 1px solid $light_primary;
    width: 100%;
  }

  .company-logo img {
    height: 45px;
    width: 155px;
    margin-left: 12px;
  }

  .links {
    display: flex;

    &-item {
      margin-right: 20px;
      text-decoration: none;
      color: inherit;
    }

    &-item:hover {
      color: inherit;
    }
  }

  .text-link {
    text-decoration: none;
    color: inherit;
    margin-right: 30px;
  }

  .search-bar {
    display: flex;
  }

  .search-button {
    border: none;
    cursor: pointer;
  }

  .cart-icon img {
    height: 30px;
  }

  .loupe-icon {
    height: 20px;
    width: 20px;
  }

  .btn-auth {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .menu-part {
    display: flex;
    align-items: center;
  }

  .menu-admin {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 0 60px;
    background-color: $light_primary;
    clip-path: polygon(5% 0, 100% 0, 95% 100%, 0 100%);
  }

  .basket-icon {
    position: relative;
    margin-right: 90px;

    .basket-count {
      position: absolute;
      top: -5px;
      right: -5px;
      background-color: #3b7b44;
      color: white;
      border-radius: 50%;
      padding: 4px 8px;
      font-size: 12px;
    }
  }

  .isNotDesktopScreen {
    margin-right: 0;
  }
}
