@import '../../common_constants/styles/colors.scss';

.product-form-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .form-label {
    margin: 10px 0;
    width: 100%;
    max-width: 500px;
  }

  .form-input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    margin-top: 5px;
  }

  .textarea {
    height: 100px;
  }

  .form-button,
  .form-edit-btn {
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 200px;
    font-size: 16px;
  }

  .form-edit-btn {
    background-color: $orange;
  }

  .size-selector {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    gap: 10px;
  }

  .size-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }

  .size-button.selected {
    background-color: #d0ffd0;
    border-color: #00a000;
  }

  .form-error {
    color: $red;
    margin-top: 5px;
  }

  .input-group {
    margin: 10px 0;
    width: 100%;
    max-width: 500px;

    input {
      width: 100%;
      height: 42px;
      padding: 0 15px;
      box-sizing: border-box;
      border: 1px solid $medium_gray;
      border-radius: 8px;
      font-size: 14px;
      background-color: transparent;
    }

    input::placeholder {
      color: $dark_gray;
    }

    input:focus {
      outline: none;
    }
  }

  .color-group {
    width: 100%;
    max-width: 500px;
    margin: 10px 0;

    .form-label {
      width: 100%;
    }
  }
}
