.personal-office {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 68px;
  padding-bottom: 60px;

  .button-like-card {
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
    outline: none;
  }
}
