// @import '../../common_constants/styles/colors.scss';

.order-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  .section,
  .total-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .editable-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

    button {
      background: none;
      border: none;
      color: #007bff;
      cursor: pointer;
    }
  }

  .product-item {
    // display: flex;
    // align-items: center;
    // gap: 10px;

    .product-image {
      width: 90px;
      height: 90px;
      object-fit: cover;
      border-radius: 12px;
      margin-right: 10px;
    }
  }

  &-select,
  &-input {
    // width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .info-sell {
    width: 650px;
  }

  .finished-sell {
    margin-left: 50px;
    width: 450px;
    height: 350px;
  }
}
