.new-select {
  border-radius: 32px;

  @keyframes showSelect {
    0% {
      opacity: 0;
      transform: translateY(-1rem);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes hideSelect {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    50% {
      opacity: 0;
      transform: translateY(-2.5rem);
    }

    100% {
      opacity: 0;
      transform: translateY(-5rem);
    }
  }

  .select-opening {
    animation: showSelect 0.2s ease-in-out;
  }

  .select-closing {
    animation: hideSelect 0.4s ease-in-out;
  }
}
