.preview-image {
  .loading-spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 145px;
    width: 145px;
  }

  .img-drive {
    height: 145px;
    width: 145px;
    object-fit: cover;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .product-main-image {
    height: 430px;
    width: 430px;
  }

  .product-second-image {
    height: 130px;
    width: 130px;
  }
}
