$light_primary: #e7f0d4;
$primary50: rgba(143, 181, 63, 0.5);
$primary: #8fb53f;
$gradient_main: linear-gradient(180deg, #467d33 0%, #20786d 100%);

$gray50: rgba(0, 0, 0, 0.5);
$gray30: rgba(0, 0, 0, 0.3);
$gray100: rgba(0, 0, 0, 1);
$gray: #edeef2;
$dark_gray: #83859c;
$medium_gray: #999;

$white: #ffffff;
$black: #000000;

$orange: #fa8c16;
$orange_3: #ffd591;
$orange_6: #fa8c16;

//////////////////////////////////////

$blue: #1677ff;
$blue10: #e6f4ff;
$red: #f5222d;
