$light_primary: #e7f0d4;
$primary50: rgba(143, 181, 63, 0.5);
$primary: #8fb53f;
$gradient_main: linear-gradient(to right, rgba(70, 125, 51, 1), rgba(32, 120, 109, 1));
$white: #ffffff;
$gray: #edeef2;
$dark_gray: #83859c;
$black: #000000;
