.font-style {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;

  &-regular {
    font-weight: normal;
  }

  &-medium {
    font-weight: 500;
  }

  &-semi-bold {
    font-weight: 600;
  }

  &-large {
    font-weight: 700;
  }

  &-bold-text {
    font-weight: bold;
  }
}
