@import '../../common_constants/styles/colors.scss';

.basket-button {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;

  .black-button .icon {
    margin-right: 10px;
  }

  .black-button .price {
    font-weight: bold;
  }
}
